.collapsible {
  background-color: #8e7b71;
  color: white;
  cursor: pointer;
  padding: 18px;
  display: inline-block;
  border: none;
  text-align: left;
  outline: none;
  font-size: 25px;
  margin: 10px;
  width: calc(100% - 20px);
  height: auto;
  font-family: "Bohem Press";
  overflow: auto;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #FFF;
  margin: 0px 0px 0px 10px;
  font-family: "Calafornian FB";
  font-size: 15pt;
  width: calc(100% - 20px);
  height: 100%;
}

.content .contentText {
	margin: 10px;
}